In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\Lenovo\Desktop\Dataset Heart Risk.csv")
df.head()

,P_ID,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,HeartRisk
0,1211,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,1212,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1213,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,1214,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,1215,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [3]:
df.shape

(3698, 17)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3698 entries, 0 to 3697
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   P_ID             3698 non-null   int64
 1   male             3698 non-null   int64
 2   age              3698 non-null   int64
 3   education        3604 non-null   float64
 4   currentSmoker    3698 non-null   int64
 5   cigsPerDay       3673 non-null   float64
 6   BPMeds           3652 non-null   float64
 7   prevalentStroke  3698 non-null   int64
 8   prevalentHyp     3698 non-null   int64
 9   diabetes         3698 non-null   int64
 10  totChol          3652 non-null   float64
 11  sysBP            3698 non-null   float64
 12  diaBP            3698 non-null   float64
 13  BMI              3679 non-null   float64
 14  heartRate        3697 non-null   float64
 15  glucose          3353 non-null   float64
 16  HeartRisk        3698 non-null   int64
dtypes: float64(9), int64(8)
memory usage: 491.3 KB

In [5]:
df.describe()

,P_ID,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,HeartRisk
count,3698.000000,3698.000000,3698.000000,3604.000000,3698.000000,3673.000000,3652.000000,3698.000000,3698.000000,3698.000000,3652.000000,3698.000000,3698.000000,3679.000000,3697.000000,3353.000000,3698.000000
mean,3059.500000,0.425365,49.576257,1.973085,0.497296,8.982848,0.029025,0.005408,0.306111,0.022985,236.840635,132.279746,82.868442,25.807785,75.767649,81.596183,0.151163
std,1067.664976,0.494465,8.550586,1.017797,0.500060,11.829005,0.167900,0.073352,0.460939,0.149877,44.728541,21.961688,11.830545,4.072634,11.974149,21.942260,0.358256
min,1211.000000,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,2135.250000,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.080000,68.000000,71.000000,0.000000
50%,3059.500000,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.370000,75.000000,78.000000,0.000000
75%,3983.750000,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,264.000000,143.500000,90.000000,28.095000,83.000000,87.000000,0.000000
max,4908.000000,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [6]:
df.isnull().sum()

P_ID                 0
male                 0
age                  0
education           94
currentSmoker        0
cigsPerDay          25
BPMeds              46
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             46
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            345
HeartRisk            0
dtype: int64

In [20]:
X = df.drop('HeartRisk',axis = 1)
X=X.drop("P_ID",axis=1)
y = df["HeartRisk"]

In [24]:
X = X.apply(lambda x: x.fillna(x.mean()),axis=0)
X.isnull().sum(axis = 0)
X.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
LR = LogisticRegression()
LR.fit(X_train, y_train)

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [29]:
y_pred = LR.predict(X_test)

In [30]:
print('Train Score is : ' , LR.score(X_train, y_train))
print('Test Score is : ' , LR.score(X_test, y_test))

Train Score is :  0.8486071861122325
Test Score is :  0.8558558558558559

In [31]:
from sklearn.metrics import classification_report
print('Classification Report is: \n \n' , classification_report(y_test, y_pred ))

Classification Report is:

               precision    recall  f1-score   support

           0       0.86      0.99      0.92      1044
           1       0.54      0.04      0.07       177

    accuracy                           0.86      1221
   macro avg       0.70      0.52      0.50      1221
weighted avg       0.81      0.86      0.80      1221

In [32]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

print('The accuracy score is:', accuracy_score(y_test, y_pred))

The accuracy score is: 0.8558558558558559